<h1>MemesByCategory</h1>
<%@categories.each do |category|%>
    <p><%=category.name%> </P>
    <ul>
    <%category.memes.each do |meme|%>
        <li> <%=meme.title%> </li>
        <li> <%=meme.source%> </li>
    <%end%>
    </ul>
<%end%>
