
<% @memes.each do |date, mems|%>
  <h1><%= date.strftime('%A, %b %-d')%></h1>
  <% mems.each do |mem|%>
  <%= link_to image_tag(mem.source),meme_path(mem)  %>
  <p>Created by: <%= mem.owner.username%></p>
  <% end %>
<% end %>



