// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    display: flex;
    flex-flow: column nowrap;
}
.meme_date{
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
}

.meme_container {
    display: flex;
    flex-flow: column nowrap;
    width: 220px;
    height: 245px;

}